.about {
  &__title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #2e2520;
  }

  &__text {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #3C322D;
  }
}
