



.logo{
    color: var(--subtitle-1, #324052);
/* desktop/h2 */
font-family: Nunito;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 56px; /* 140% */
letter-spacing: -2px;
margin-left: 500px;
margin-bottom: 32px;
padding-bottom: 8px;
border-bottom: 4px solid #CEB181;;
}



.blue-text{
    color: var(--title-1, #2E688D);
/* desktop/h1 */
font-family: Nunito;
font-size: 68px;
font-style: italic;
font-weight: 600;
line-height: 66px; /* 97.059% */
letter-spacing: -3.4px;

}

.blue-text2{
    color: var(--title-1, #2E688D);
/* desktop/h1 */
font-family: Nunito;
font-size: 68px;
font-style: italic;
font-weight: 600;
line-height: 66px; /* 97.059% */
letter-spacing: -3.4px;
margin-left: 117px;

}



.info-text{
    color: var(--subtitle-1, #324052);
/* desktop/h3 */
font-family: "Roboto Condensed";
font-size: 24px;
font-style: italic;
font-weight: 400;
line-height: 36px; /* 150% */
letter-spacing: -0.96px;
width: 559px;
margin-top: 24px;
}


.info-text2{
    color: var(--subtitle-1, #324052);
/* desktop/h3 */
font-family: "Roboto Condensed";
font-size: 24px;
font-style: italic;
font-weight: 400;
line-height: 36px; /* 150% */
letter-spacing: -0.96px;
width: 559px;
margin-left: 445px;
margin-top: 24px;
}



.info-text3{
    color: var(--subtitle-1, #324052);
/* desktop/h3 */
font-family: "Roboto Condensed";
font-size: 24px;
font-style: italic;
font-weight: 400;
line-height: 36px; /* 150% */
letter-spacing: -0.96px;
width: 559px;
margin-left: 117px;
margin-top: 24px;

}



.photo1{
   position: relative;
   
   left: 692px;
  
}





.photo2{
   position: relative;
  
}





.text-item1{
position: relative;
top: 288px;
left: 60px;


}


.text-item2{
   position: relative;
   
left: 670px;
top: 288px;


}


@media screen and ( max-width:1340px){


.logo{
    margin-left: 291px;
}



    .photo1{
       
       position: relative;
      left: 0px;
      width: 248px;
height: 320px;

     
       
     }

     .photo2{
        position: relative;
        left: 0px;
        width: 248px;
height: 320px;

       
       
     }
     




     .text-item1{
   
       position: relative;
      top: 320px;
      margin-left: 190px;
      height: 320px;
      width: 366px;
      margin-top: -280px;
      background: var(--title-1, #DDE5E8);
     
      padding-left: 24px;
      border-radius: 16px;
    

     }

     
     .text-item2{
        position: relative;
        top: 330px;
       margin-left: -420px;
        height: 320px;
        width: 366px;
        margin-top: -280px;
        padding-top: 10px;
padding-left: 24px;
        border-radius: 16px;
background: var(--title-1, #DDE5E8);
// box-shadow: 20px 30px 20px 20px rgba(20, 20, 20, 15);
     }

    



     
    .info-text{
        
        width: 227px;
       margin-top: 0px;
        font-size: 24px;

    }


    .info-text2{
        margin-left: 0px;
        font-size: 24px;
        margin-top: 0px;
    }
     
    .blue-text{
     
        font-size: 40px;
        padding-top: 77px;
       
       
    }

    .blue-text2{
        margin-left: 0px;
        font-size: 40px;
        padding-top: 77px;


    }


    .info-text3{
        margin-left: 0px;
        font-size: 24px;
        width: 322px;
        margin-top: 0px;
    }
}

@media screen and ( max-width:678px){


.gallery-items{
    padding-top: 120px;
   
}

    
   

    .logo{
        margin-left: 85px;
        font-size: 24px;
    }
    
    
    
        .photo1{
            width: 126px;
            height: 160px;
            flex-shrink: 0;
            margin-bottom: 128px;
           
    
         
           
         }
    
         .photo2{
            width: 126px;
            height: 160px;
            flex-shrink: 0;
           
            margin-bottom: 128px;
         }
         
    
    
    
    
         .text-item1{
       
           position: relative;
          top: 150px;
          margin-left: 90px;
          height: 160px;
          width: 176px;
          margin-top: -280px;
          background: var(--title-1, #DDE5E8);
         
          padding-left: 24px;
          border-radius: 16px;
        
    
         }
    
         
         .text-item2{
            position: relative;
            top: 150px;
           margin-left: -520px;
            height: 160px;
            width: 176px;
            margin-top: -280px;
            padding-top: 10px;
    padding-left: 24px;
            border-radius: 16px;
    background: var(--title-1, #DDE5E8);
    // box-shadow: 20px 30px 20px 20px rgba(20, 20, 20, 15);

         }
    
        

    
    
    
         
        .info-text{
            
            width: 127px;
           margin-top: 0px;
            font-size: 14px;
            line-height: 20px
    
        }
    
    
        .info-text2{
            margin-left: 0px;
            font-size: 14px;
            margin-top: 0px;
            line-height: 20px;
        }
         
        .blue-text{
         
            font-size: 24px;
           
            padding-top: 23px;
                line-height: 36px;
           
        }
    
        .blue-text2{
            margin-left: 0px;
            font-size: 24px;
           padding-top: 23px;

    
        }
    
    
        .info-text3{
            margin-left: 0px;
            font-size: 14px;
            width: 193px;
            margin-top: 0px;
            line-height: 20px;
        }







}