.gallery {


    @media screen and (min-width: 320px) {}


    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1300px) {
        padding-top: 119px;
        padding-bottom: 112px;
        background: var(--fon-1, #FBFCFC);
    }


    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__headline {
        color: var(--subtitle-1, #324052);

        /* desktop/h2 */
        font-family: Nunito;

        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        /* 140% */
        letter-spacing: -2px;
        text-align: center;
        position: relative;
       



        @media screen and (min-width: 320px) {}


        @media screen and (min-width: 768px) {
            color: var(--subtitle-1, #324052);
text-align: right;

/* tablet/h2 */
font-family: Nunito;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 120% */
letter-spacing: -2px;
        }

        @media screen and (min-width: 1300px) {
            margin-bottom: 26px;
            font-size: 40px;
        }
    }

    &__headline::before {
        content: "";

        background-color: #ceb181;
        position: absolute;



        @media screen and (min-width: 320px) {}


        @media screen and (min-width: 768px) {
            width: 478px;
height: 2px;
        }

        @media screen and (min-width: 1300px) {
            bottom: -8px;
            right: 0;
            width: 936px;
            height: 4px;
        }
    }




    &__list {
        display: flex;
        justify-content: center;




        @media screen and (min-width: 320px) {
            display: flex;
            justify-content: center;
            gap: 100px;
        }


        @media screen and (min-width: 768px) {

            display: flex;
            justify-content: center;
        }

        @media screen and (min-width: 1300px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin-top: 74px;
            margin-bottom: 130px;
            width: 100%;
           

        }
    }


    &__item {

    }

    &__img {

       
        @media screen and (min-width: 320px) {
            
        }


        @media screen and (min-width: 768px) {

        }

        @media screen and (min-width: 1300px) {
            border-radius: 8px;
            background: url(<path-to-image>) lightgray 50% / cover no-repeat;
            box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.50);
            max-width: 400px;
        }
    }




    &__article {

    }

    &__img-pos-left {


        display: none;
        @media screen and (min-width: 320px) {
        
        }


        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1300px) {
display: block;
        }
    }

    &__img-pos-right {

        display: none;
        @media screen and (min-width: 320px) {
            
        }


        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1300px) {
              display: block;
        }
    }


    &__img-z {


@media screen and (min-width: 320px) {
        
}


@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1300px) {
    position: absolute;
    z-index: 2;
    top: -50px;
    left: 297px;
    max-width: 501px;
}



    }

    &__desktop-svg {

        flex-shrink: 0;


        @media screen and (min-width: 320px) {}


        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1300px) {
            width: 47.249px;
            height: 48px;
        }
    }


    &__desktop-svg-left {
display: none;


        
        @media screen and (min-width: 320px) {

        }


        @media screen and (min-width: 768px) {

        }

        @media screen and (min-width: 1300px) {
display: block;
margin-right: 64px;
transform: rotate(180deg);
        }
    }


    &__desktop-svg-right {

display: none;

        @media screen and (min-width: 320px) {
            
        }


        @media screen and (min-width: 768px) {

        }

        @media screen and (min-width: 1300px) {
display: block;
margin-left: 64px;
        }
    }


    &__button {
        display: block;

        margin-left: auto;
        margin-right: auto;

        border-radius: 20px;
        border: 2px solid #2B9EE7;
        background: #C9E4EA;
        color: var(--Button-CALL, #2B9EE7);

        /* bttn */
        font-family: "Roboto Condensed";


        @media screen and (min-width: 320px) {

        }


        @media screen and (min-width: 768px) {
            display: flex;
width: 400px;
height: 68px;
padding: 16px 40px;
justify-content: center;
align-items: center;
gap: 16px;
border-radius: 20px;
border: 2px solid #2B9EE7;
background: #C9E4EA;
color: #2B9EE7;

/* subtitle */
font-family: "Roboto Condensed";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 150% */
letter-spacing: -0.96px;
margin-top: 32px;
        }

        @media screen and (min-width: 1300px) {
            padding-left: 108px;
            padding-right: 108px;
            padding-top: 16px;
            padding-bottom: 16px;
            gap: 8px;
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            /* 150% */
            letter-spacing: -0.96px;
            
        }

    }

    &__circle-list {

        display: flex;
        justify-content: center;
        align-items: center;


        @media screen and (min-width: 320px) {
            gap: 4px;
        }


        @media screen and (min-width: 768px) {
            gap: 8px;
        }

        @media screen and (min-width: 1300px) {
display: none;
        }  
    }


    &__svg-circle-big {
        width: 24px;
height: 24px;
border-radius: 78.769px;
fill: var(--text-sale, #8D6515);
    }

    &__svg-circle {
        width: 20px;
height: 20px;
border-radius: 78.769px;
fill: var(--line, #C0AFA8);
    } 


    &__tablet-svg-left {
        transform: rotate(180deg);
        width: 60px;
height: 60px;
        @media screen and (min-width: 1300px) {
            display: none;
                    }  
    }

    &__tablet-svg-right {
        width: 60px;
height: 60px;
        @media screen and (min-width: 1300px) {
            display: none;
                    }  
    }
}