.gallery {
    padding-top: 119px;
    padding-bottom: 112px;




    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__headline {
        color: var(--subtitle-1, #324052);

/* desktop/h2 */
font-family: Nunito;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 56px; /* 140% */
letter-spacing: -2px;
text-align: center;
position: relative;
margin-bottom: 26px;
    }

    &__headline::before {
        content: "";
        width: 880px;
        height: 4px;
        background-color: #ceb181;
        position: absolute;
        bottom: -8px;
        right: 0;
    }


    &__line {
        background: #CEB181;
        width: 936px;
        height: 4px;
        
    }

    &__list {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__img {
        border-radius: 8px;
        width: 400px;
height: 400px;
flex-shrink: 0;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    }

    &__img-2 {
        width: 501px;
        height: 497px;
        flex-shrink: 0;
    }

    &__img-3 {
        width: 400px;
height: 400px;
flex-shrink: 0;
    }

    &__svg {
        width: 47.249px;
height: 48px;
flex-shrink: 0;
    }


    &__button {
display: block;
padding-left: 108px;
padding-right: 108px;
padding-top: 16px;
padding-bottom: 16px;
margin-left: auto;
margin-right: auto;
gap: 8px;
border-radius: 20px;
border: 2px solid #2B9EE7;
background: #C9E4EA;
color: var(--Button-CALL, #2B9EE7);

/* bttn */
font-family: "Roboto Condensed";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 150% */
letter-spacing: -0.96px;
    }
}