// .infrastructure {


//     &__list {
//         display: flex;
//         flex-wrap: wrap;
//         flex-direction: column;
//         height: 738px;
//         gap: 16px;
//         margin-top: 12px;
//         padding-bottom: 56px;

//         @media screen and (min-width: 678px) {
//             height: 738px;
//             padding-bottom: 100px;
//             margin-top: 24px;
//         }

//         @media screen and (min-width: 1340px) {
//             height: 738px;
//             padding-bottom: 119px;
//         }
//     }

//     &__item {
//         color: var(--subtitle-1, #324052);
//         /* mobile/h2 */
//         font-family: Nunito;
//         font-size: 24px;
//         font-weight: 400;
//         line-height: 36px;
//         /* 150% */
//         letter-spacing: -1.2px;
//         padding-left: 16px;

//         @media screen and (min-width: 678px) {
//             /* tablet/h2 */
//             font-size: 40px;
//             line-height: 48px;
//             /* 120% */
//             letter-spacing: -2px;
//             padding-left: 32px;
//         }

//         @media screen and (min-width: 1340px) {
//             /* desktop/h2 */
//             font-size: 40px;
//             line-height: 56px;
//             /* 140% */
//             padding-left: 584px;
//         }
//     }

//     &__text {
//         color: var(--subtitle-1, #324052);

//         /* mobile/text */
//         font-family: "Roboto Condensed";
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 20px; /* 142.857% */
//         letter-spacing: -0.56px;
//         margin-top: 12px;

//         @media screen and (min-width: 678px) {
//             /* tablet/text */
//             font-size: 24px;
//             line-height: 36px;
//             /* 150% */
//             letter-spacing: -0.96px;
//             margin-top: 24px;
//         }

//         @media screen and (min-width: 1340px) {
//             /* desktop/h3 */
//             font-size: 24px;
//             font-style: italic;
//             /* 150% */
//             margin-top: 40px;
//         }
//     }

//     &__title {

//         @media screen and (min-width: 678px) {}

//         @media screen and (min-width: 1340px) {}
//     }

// }

.infrastructure {


    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 358px;
        gap: 16px;
        margin-top: 12px;
        padding-bottom: 56px;

        @media screen and (min-width: 678px) {
            width: 678px;
            padding-bottom: 100px;
            margin-top: 24px;
        }

        @media screen and (min-width: 1340px) {
            height: 738px;
            padding-bottom: 119px;
        }
    }

    &__title {
        color: var(--subtitle-1, #324052);
        /* desktop/h2 */
        font-family: Nunito;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        /* 140% */
        letter-spacing: -2px;
        text-align: center;
    }

    &__text {
        color: var(--subtitle-1, #324052);

        /* desktop/h3 */
        font-family: "Roboto Condensed";
        font-size: 24px;
        font-style: italic;
        font-weight: 400;
        line-height: 36px;
        /* 150% */
        letter-spacing: -0.96px;
        margin-top: 40px;
    }

    &__item:nth-child(1) {

        width: 80px;
        height: 80px;
        border-radius: 8px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);

        @media screen and (min-width: 678px) {
            width: 200px;
            height: 200px;

        }

        @media screen and (min-width: 1340px) {
            width: 316px;
            height: 290px;
            border-radius: 0px;
        }
    }

    g &__item:nth-child(2) {

        width: 80px;
        height: 120px;
        border-radius: 8px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);

        @media screen and (min-width: 678px) {
            width: 200px;
            height: 200px;

        }

        @media screen and (min-width: 1340px) {
            width: 316px;
            height: 290px;
            border-radius: 0px;
        }
    }

    &__item:nth-child(3) {

        width: 80px;
        height: 80px;
        border-radius: 8px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);

        @media screen and (min-width: 678px) {
            width: 200px;
            height: 200px;

        }

        @media screen and (min-width: 1340px) {
            width: 316px;
            height: 290px;
            border-radius: 0px;
        }
    }

    &__item:nth-child(4) {

        width: 80px;
        height: 80px;
        border-radius: 8px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);

        @media screen and (min-width: 678px) {
            width: 200px;
            height: 200px;

        }

        @media screen and (min-width: 1340px) {
            width: 316px;
            height: 290px;
            border-radius: 0px;
        }
    }

    &__item:nth-child(5) {

        width: 80px;
        height: 80px;
        border-radius: 8px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);

        @media screen and (min-width: 678px) {
            width: 200px;
            height: 200px;

        }

        @media screen and (min-width: 1340px) {
            width: 316px;
            height: 290px;
            border-radius: 0px;
        }
    }

    &__item:nth-child(6) {

        width: 80px;
        height: 80px;
        border-radius: 8px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);

        @media screen and (min-width: 678px) {
            width: 200px;
            height: 200px;

        }

        @media screen and (min-width: 1340px) {
            width: 316px;
            height: 290px;
            border-radius: 0px;
        }
    }

    &__item:nth-child(7) {

        width: 80px;
        height: 80px;
        border-radius: 8px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);

        @media screen and (min-width: 678px) {
            width: 200px;
            height: 200px;

        }

        @media screen and (min-width: 1340px) {
            width: 316px;
            height: 290px;
            border-radius: 0px;
        }
    }

    &__item:nth-child(8) {

        width: 80px;
        height: 80px;
        border-radius: 8px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);

        @media screen and (min-width: 678px) {
            width: 200px;
            height: 200px;

        }

        @media screen and (min-width: 1340px) {
            width: 316px;
            height: 290px;
            border-radius: 0px;
        }
    }

}