.speakers {
    &__title {
        color: var(--, #3C322D);
        text-align: center;
        font-family: "Montserrat Alternates";
        font-size: 24px;
        font-weight: 500;

        @media screen and (min-width:736px) {
            font-size: 32px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 280px;
        padding-bottom: 101px;
        
        @media screen and (min-width:736px) {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            gap: 32px;
            width: 704px;
        }
        @media screen and (min-width:1280px) {
            gap: 104px;
            width: 1141px;
        }
    }

    &__sub-title {
        color: var(--, #3C322D);
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;

        @media screen and (min-width:736px) {
            font-size: 18px;
        }
    }

    &__text {
        color: var(--, #3C322D);
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        max-width: 130px;

        @media screen and (min-width:736px) {
            font-size: 14px;
            max-width: 151px;
        }

        @media screen and (min-width:1280px) {
            font-size: 16px;
            max-width: 181px;
        }
    }
}