.container {
  margin: 0 auto;
  width: 358px;
  outline: solid red;


  @media screen and (min-width: 678px) {
    width: 678px;
    outline: solid red;
  }

  @media screen and (min-width: 1340px) {
    width: 1340px;
    outline: solid red;
  }
}