a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0%;
}

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  border: none;
  padding: 0;
}

input {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1340px;
  padding: 0 10px;
  outline: solid red;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #766A63 0%, rgba(198, 190, 187, 0.81) 150%);
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo-name {
  color: #1C4C6B;
  font-family: Nunito;
  font-size: 32px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: -2.56px;
}

.addres {
  color: #EEE8DE;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.96px;
  margin-left: 56px;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-link {
  color: #EEE8DE;
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.72px;
  transition: color 250ms linear;
}

.header-link:hover {
  color: #254255;
  text-decoration-line: underline;
}

.language {
  color: #EEE8DE;
  font-family: "Roboto Condensed";
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -1.12px;
}

.hero {
  background-image: url(../img/hero-bacground.webp), url(../img/bacground-hero.webp);
  background-repeat: no-repeat;
  background-size: cover, 838px 1078px;
  background-position: center, right;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fbfcfc;
  padding-top: 460px;
  padding-bottom: 328px;
}

.hero-title {
  color: #2e688d;
  font-family: Nunito;
  font-size: 68px;
  font-style: italic;
  font-weight: 600;
  line-height: 66px;
  letter-spacing: -3.4px;
  margin-bottom: 24px;
}

.hero-text {
  color: #324052;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.96px;
  max-width: 400px;
  margin-bottom: 64px;
}

.hero-btn {
  display: flex;
  width: 480px;
  padding: 16px 102px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #2b9ee7;
  background: #c9e4ea;
}

.features {
  padding-top: 120px;
  padding-bottom: 121px;
  position: relative;
  background-color: #fbfcfc;
}

.features-tittle {
  font-family: Nunito;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -2px;
  color: #324052;
  text-align: center;
  position: relative;
}

.features-tittle::before {
  content: "";
  display: block;
  width: 880px;
  height: 4px;
  background-color: #ceb181;
  position: absolute;
  bottom: -8px;
  right: 0;
}

.features-builings,
.features-city {
  width: 450px;
  height: 628px;
  border-radius: 8px;
}

.features-builings {
  position: absolute;
  z-index: 1;
  top: 17%;
}

.features-city {
  position: absolute;
  top: 38%;
  left: 29%;
  margin-right: 71px;
}

.features-nomber {
  font-family: Nunito;
  font-size: 68px;
  font-style: italic;
  font-weight: 600;
  line-height: 66px;
  letter-spacing: -3.4px;
  margin-bottom: 16px;
}

.features-text {
  font-family: Nunito;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -2px;
  margin-bottom: 16px;
}

.features-item {
  width: 250px;
}

.features-item:nth-child(2) {
  color: #8d6515;
}

.features-item:nth-child(3) {
  color: #8d6515;
}

.features-item:nth-child(1) {
  color: #2e688d;
}

.features-item:nth-child(4) {
  color: #2e688d;
}

.features-list {
  gap: 40px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: end;
  padding-top: 296px;
  padding-bottom: 237px;
}

.logo {
  color: var(--subtitle-1, #324052);
  /* desktop/h2 */
  font-family: Nunito;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 140% */
  letter-spacing: -2px;
}

.blue-text {
  color: var(--title-1, #2E688D);
  /* desktop/h1 */
  font-family: Nunito;
  font-size: 68px;
  font-style: italic;
  font-weight: 600;
  line-height: 66px; /* 97.059% */
  letter-spacing: -3.4px;
}

.info-text {
  color: var(--subtitle-1, #324052);
  /* desktop/h3 */
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px; /* 150% */
  letter-spacing: -0.96px;
}

.gallery {
  padding-top: 119px;
  padding-bottom: 112px;
}
.gallery__headline {
  color: var(--subtitle-1, #324052);
  /* desktop/h2 */
  font-family: Nunito;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 140% */
  letter-spacing: -2px;
  text-align: center;
}
.gallery__line {
  background: #CEB181;
  width: 936px;
  height: 4px;
}
.gallery__list {
  display: flex;
  justify-content: center;
}

.location {
  padding-top: 119px;
}

.location-box {
  display: flex;
}

.location-list {
  margin-top: 198px;
  margin-right: 109px;
}

.location-item {
  display: flex;
}

.location-title {
  position: relative;
  text-align: center;
  color: #324052;
  font-family: Nunito;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -2px;
}

.location-title::before {
  content: "";
  width: 880px;
  height: 4px;
  background-color: #ceb181;
  position: absolute;
  bottom: -8px;
  right: 0;
}

.location-text {
  color: #324052;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.96px;
}

.location-subtitle {
  color: #324052;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  /* 150% */
  letter-spacing: -0.96px;
}

.location-link {
  margin-top: 32px;
  width: 872px;
  height: 526px;
}

.form {
  padding: 119px 0 158px 0;
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-item {
  display: flex;
  align-items: center;
}

.form-title {
  position: relative;
  text-align: center;
  color: #324052;
  font-family: Nunito;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -2px;
  margin-bottom: 32px;
}

.form-title::before {
  content: "";
  width: 880px;
  height: 4px;
  background-color: #ceb181;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.form-warning {
  color: #324052;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.96px;
  margin-bottom: 32px;
}

.form-text {
  color: #324052;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.96px;
}

.form-text1 {
  margin-right: 166px;
}

.form-text2 {
  margin-right: 48px;
}

.form-text3 {
  margin-right: 96px;
}

.form-input {
  width: 862px;
  height: 60px;
  padding: 12px 0px 12px 24px;
  border-radius: 8px;
  border: 1px solid var(--Stroke-1, #161614);
  background: #fbfcfc;
}

.form-input::-moz-placeholder {
  color: #BFBFBF;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.96px;
}

.form-input::placeholder {
  color: #BFBFBF;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.96px;
}

.form-btn {
  margin: 40px auto 0;
  color: var(--Button-CALL, #2B9EE7);
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.96px;
  display: flex;
  padding: 16px 202px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #2B9EE7;
  background: #C9E4EA;
  cursor: pointer;
}

footer {
  padding: 24px 0 57px;
  background: #776D67;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-box {
  display: flex;
  gap: 160px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-addres {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-networks {
  display: flex;
  flex-direction: column;
  margin-left: 112px;
  margin-right: 47px;
}

.networks-item:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.footer-title {
  margin-bottom: 16px;
  text-align: center;
  color: var(--title-1, #DDE5E8);
  font-family: "Roboto Condensed";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1.12px;
}

.footer-text {
  color: var(--title-1, #DDE5E8);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.64px;
}

.addres-title {
  color: var(--title-1, #DDE5E8);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.64px;
}

.addres-text {
  color: var(--title-1, #DDE5E8);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.64px;
}

.networks-title {
  color: var(--title-1, #DDE5E8);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.64px;
}

.svg-youtube {
  width: 68px;
  height: 24px;
  margin-bottom: 16.39px;
}

.svg-instagram {
  width: 68.047px;
  height: 25.442px;
  fill: #343433;
  margin-bottom: 6px;
}

.svg-facebook {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.svg-telegram {
  width: 24px;
  height: 24px;
}

.footer-logo {
  margin-top: 23px;
  width: 148px;
  height: 172px;
  flex-shrink: 0;
}/*# sourceMappingURL=main.css.map */