$accent-color: #2e688d;
$text-color: #324052;
$text-sale: #8d6515;
$bg-color: #fbfcfc;
$border-color: #ceb181;
$input-color: #f2efea;
$placeholder-input: #bfbfbf;
$button-color: #2b9ee7;
$background-color: #c9e4ea;
