<section class="about">
  <div class="container about__box">
    <img
      class="about__donuts"
      src="../imgs/desktop/about/about-img@1x-desktop.webp"
      alt=""
    />
    <div class="about__wrap">
      <h2 class="about__title">About us</h2>
      <ul class="about__list">
        <li class="about__item">
          <p class="about__text">
            Oh My Donut is the shop which adores tasty deserts and spend hours
            to create sophisticated donuts which will save the world!
          </p>
        </li>
        <li class="about__item">
          <p class="about__text">
            Eva has been baking since she was six years old and over the last 49
            years, she has created hundreds of cakes for weddings and has baked
            for many celebrities. Eva and our shop have received multiple awards
            & recognition for excellence.
          </p>
        </li>
        <li class="about__item">
          <p class="about__text">
            We are going to teach you how to cook with passion and sparkles in
            your eyes! We love what we do and believe you will enjoy our cooking
            atmosphere!
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
