<section class="advantages">
  <div class="container">
    <h1 class="logo">Переваги комплексу</h1>

    <ul class="gallery-items">

      <li class="text-item1">
        <h2 class="blue-text">10 га парку</h2>
        <p class="info-text">Жити в центрі міста, але не на виду.</p>

</li>
        <li>
<picture>

    <source media="(min-width: 1200px)" srcset="  ./img/desktop/city-desktop@1x.webp 1x, ./img/desktop/city-desktop@2x.webp 2x ">
    <source media="(min-width: 768px)" srcset="  ./img/tablet/city-tablet@1x.webp 1x ,   ./img/tablet/city-tablet@2x.webp  2x ">
    <source media="(max-width: 767px)" srcset=" ./img/mobile/city-mobile@1x.webp 1x , ./img/mobile/city-mobile@2x.webp 2x   ">

        <img src="" alt="1"  width="642px"  height="786px" class="photo12">
    </picture>
      </li>

   

      <li class="text-item3">
        <h2 class="blue-text">2 школи та 2 дитсадки</h2>
        <p class="info-text2">Відстань до 750 м від ЖК.</p>

      </li>
      <li>
        <picture>
            <source media="(min-width: 1200px)" srcset="  ./img/desktop/kids-desktop@1x.webp  1x , ./img/desktop/kids-desktop@2x.webp  2x ">
            <source media="(min-width: 768px)" srcset="  ./img/tablet/kids-tablet@1x.webp 1x ,   ./img/tablet/kids-tablet@2x.webp 2px ">
            <source media="(max-width: 767px)" srcset=" ./img/mobile/kids-mobile@1x.webp 1x ,  ./img/mobile/kids-mobile@2x.webp 2x    ">
        
        <img src="" alt="2" width="642px" height="786px" class="photo2">
    </picture>
      </li>

      <li class="text-item1">
        <h2 class="blue-text">Безпека 24/7</h2>
        <p class="info-text">Закрита територія та відеоспостереження</p>

      </li>
      <li>
        <picture>

            <source media="(min-width: 1200px)" srcset="  ./img/desktop/save-desktop@1x.webp 1x , ./img/desktop/save-desktop@2x.webp 2x  ">
            <source media="(min-width: 768px)" srcset=" ./img/tablet/save-tablet@1x.webp 1x , ./img/tablet/save-tablet@2x.webp 2x   ">
            <source media="(max-width: 767px)" srcset=" ./img/mobile/save-mobile@1x.webp 1x , ./img/mobile/save-mobile@2x.webp 2x     ">
        
       
        <img src="" alt="3" width="644px"  height="786px" class="photo1">

     </picture>
      </li>

     
<div class="fix">
     
<li>
<picture>
    <source media="(min-width: 1200px)" srcset=" ./img/desktop/kitchen-desktop@1x.webp 1x , ./img/desktop/kitchen-desktop@2x.webp 2x    ">
    <source media="(min-width: 768px)" srcset="  ./img/tablet/kitchen-tablet@1x.webp 1x ,  ./img/tablet/kitchen-tablet@2x.webp 2x   ">
    <source media="(max-width: 767px)" srcset=" ./img/mobile/kitchen-mobile@1x.webp 1x, ./img/mobile/kitchen-mobile@2x.webp 2x     ">

        <img src="" alt="4" width="645px"  height="786px" class="photo2">
</picture>

      </li>

      <li class="text-item2">
        <h2 class="blue-text2">Розумний будинок</h2>
        <p class="info-text3">
          Індивідуальна система опалення та регулювання житла за допомогою
          додатку.
        </p>

      </li>
     
    </div>


      <li class="text-item1">
        <h2 class="blue-text">Інфраструктура</h2>
        <p class="info-text">Власні керуючі компанії.</p>

      </li>
      <li>

<picture>

    <source media="(min-width: 1200px)" srcset=" ./img/desktop/company-desktop@1x.webp 1x , ./img/desktop/company-desktop@2x.webp 2x   ">
    <source media="(min-width: 768px)" srcset="  ./img/tablet/company-tablet@1x.webp 1x , ./img/tablet/company-tablet@2x.webp 2x     ">
    <source media="(max-width: 767px)" srcset=" ./img/mobile/company-mobile@1x.webp 1x , ./img/mobile/company-mobile@2x.webp 2x     ">

        <img src="" alt="5" width="642px"  height="786px" class="photo1">
</picture>

      </li>

  
    </ul>
  </div>
</section>
