<section class="features">
  <div class="container">
    <h2 class="features-tittle">Особливості планування</h2>
    <div class="container-features">
      <ul class="features-list">
        <li class="features-item-rigth features-item">
          <img
            class="features-builings"
            src="./img/features-buildings.webp"
            alt="builings"
          />
          <div class="features-block-rigth features-block">
            <p class="features-nomber">88</p>
            <p class="features-text">сучасних квартир</p>
            <p class="features-nomber">40+</p>
            <p class="features-text">об’єктів інфраструктури</p>
          </div>
        </li>
        <li class="features-item-left features-item">
          <img
            class="features-city"
            src="./img/features-city.webp"
            alt="city"
          />
          <div class="features-block-left features-block">
            <p class="features-nomber">300</p>
            <p class="features-text">задоволених власників</p>
            <p class="features-nomber">5</p>
            <p class="features-text">успішних проектів</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
