<section class="features">
  <div class="container">
    <h2 class="features-tittle">Особливості планування</h2>
    <div class="features-album">
      <img
        class="features-builings"
        src="./img/features-buildings.webp"
        alt="builings"
      />
      <img class="features-city" src="./img/features-city.webp" alt="city" />
    </div>
    <ul class="features-list">
      <li class="features-item">
        <p class="features-nomber">88</p>
        <p class="features-text">сучасних квартир</p>
        <p class="features-nomber">40+</p>
        <p class="features-text">об’єктів інфраструктури</p>
      </li>
      <li class="features-item">
        <p class="features-nomber">300</p>
        <p class="features-text">задоволених власників</p>
        <p class="features-nomber">5</p>
        <p class="features-text">успішних проектів</p>
      </li>
    </ul>
  </div>
</section>
