<footer>
    <div class="container footer-container">
        <div class="footer-box">
            <ul class="footer-list">
                <h3 class="footer-title">Головна</h3>
                <li class="footer-item">
                    <p class="footer-text">Особливості планування</p>
                    <p class="footer-text">Переваги</p>
                    <p class="footer-text">Галерея</p>
                    <p class="footer-text">Вибір квартири</p>
                    <p class="footer-text">Інфраструктура</p>
                </li>
            </ul>
            <ul class="footer-list">
                <h3 class="footer-title foter-title1">Покупцям</h3>
                <li class="footer-item">
                    <p class="footer-text">Замовити консультацію</p>
                    <p class="footer-text">Контакти офісу компанії</p>
                </li>
            </ul>
            <ul class="footer-addres">
                <li class="addres-item">
                    <h4 class="addres-title">Адреса центрального офісу:</h4>
                    <p class="addres-text">м.Київ, вул. Соборності 12</p>
                </li>
                <li class="addres-item">
                    <h4 class="addres-title">Робочі дні:</h4>
                    <p class="addres-text">понеділок - п’ятниця з 09:00 до 18:00</p>
                </li>
                <li class="addres-item">
                    <h4 class="addres-title">Вихідні дні:</h4>
                    <p class="addres-text">субота - неділя та святкові дні</p>
                </li>
                <li class="addres-item">
                    <h4 class="addres-title">Телефон менеджера:</h4>
                    <p class="addres-text">+380981194159</p>
                </li>
            </ul>
        </div>
        <ul class="footer-networks">
            <h3 class="networks-title">Соціальні мережі:</h3>
            <li class="networks-item">
                <svg class="networks-svg svg-youtube">
                    <use href="../img/icons.svg#icon-youtube"></use>
                </svg>
                <svg class="networks-svg svg-instagram">
                    <use href="../img/icons.svg#icon-instagram"></use>
                </svg>
            </li>
            <li class="networks-item">
                <svg class="networks-svg svg-facebook">
                    <use href="../img/icons.svg#icon-facebook"></use>
                </svg>
                <svg class="networks-svg svg-telegram">
                    <use href="../img/icons.svg#icon-telegram"></use>
                </svg>
            </li>
        </ul>
        <img class="footer-logo" src="./img/footer-logo.webp" alt="">
    </div>
</footer>