<footer class="footer">
  <section class="footer__contacts">
    <div class="container">
      <h2 class="footer__subheader">Contact</h2>
      <p class="footer__text">We will answer any question!</p>
      <form name="footer_form" class="footer__form">
        <label>
          <input
            name="footer_email"
            class="footer__input footer__email"
            type="email"
            placeholder="Email"
            required
            title="Please, enter your e-mail"
          />
        </label>
        <label>
          <input
            name="footer_question"
            class="footer__input footer__question"
            type="text"
            placeholder="Type your question"
            required
          />
        </label>
        <button type="submit" class="footer__btn">Send</button>
      </form>
      <div class="footer__socials">
        <ul class="footer__list">
          <li class="footer__item">
            <a
              class="footer__link link"
              href="https://www.twitter.com/"
              aria-label="Twitter icon"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="footer__icon" width="16" height="16">
                <use href="../imgs/icons/symbol-defs.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__link link"
              href="https://www.instagram.com/"
              aria-label="Instagram icon"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="footer__icon" width="16" height="16">
                <use href="../imgs/icons/symbol-defs.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__link link"
              href="https://www.facebook.com/"
              aria-label="Facebook icon"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="footer__icon" width="16" height="16">
                <use href="../imgs/icons/symbol-defs.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
<section class="footer__wrap">
  <div class="container footer__container ">
    <a href="tel:9102228855" class="footer__link footer__phone">
      (910)222-8855
    </a>
    <a
      href="https://goo.gl/maps/xZ1AifC3azrUc7xc9"
      class="footer__link footer__location"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      New York
    </a>
  </div>
</section>
 
</footer>
