<section class="form">
    <div class="container">
        <h2 class="form__title">Отримати консультацію</h2>
        <h5 class="form__warning">Поля відмічені * є обов’язковими для заповнення</h5>
        <ul class="form__list">
            <li class="form__item">
                <p class="form__text form__text1">ПІБ*</p>
                <input class="form__input" type="text" placeholder="Сергій Анатолійович">
            </li>
            <li class="form__item">
                <p class="form__text form__text2">Номер телефону*</p>
                <input class="form__input" type="text" placeholder="+38 (000) 000 00 00    ">
            </li>
            <li class="form__item">
                <p class="form__text form__text3">Зручний час</p>
                <input class="form__input" type="text" placeholder="00:00">
            </li>
        </ul>
        <button class="form__btn">Дзвінок</button>
    </div>
</section>