<section class="form">
    <div class="container">
        <h2 class="form-title">Отримати консультацію</h2>
        <h5 class="form-warning">Поля відмічені * є обов’язковими для заповнення</h5>
        <ul class="form-list">
            <li class="form-item">
                <p class="form-text form-text1">ПІБ*</p>
                <input class="form-input" type="text" placeholder="Сергій Анатолійович">
            </li>
            <li class="form-item">
                <p class="form-text form-text2">Номер телефону*</p>
                <input class="form-input" type="text" placeholder="+38 (000) 000 00 00    ">
            </li>
            <li class="form-item">
                <p class="form-text form-text3">Зручний час</p>
                <input class="form-input" type="text" placeholder="00:00">
            </li>
        </ul>
        <button class="form-btn">Дзвінок</button>
    </div>
</section>