<section class="gallery">

    <h1 class="logo">Переваги комплексу</h1>
    


    <ul class="gallery-items">
    
    
    
    
    
    
    
    <li class="text-item"><h2 class="blue-text">10 га парку</h2> <p class="info-text">Жити в центрі міста, але не на виду.</p> </li>
    
    <li><img src="" alt=""></li>
    
    
    
    <li><img src="" alt=""></li>
    
    <li class="text-item"><h2 class="blue-text">2 школи та 2 дитсадки</h2> <p class="info-text">Відстань до 750 м від ЖК.</p> </li>
    
    
    
    <li class="text-item"><h2 class="blue-text">Безпека 24/7</h2> <p class="info-text">Закрита територія та відеоспостереження</p> </li>
    <li><img src="" alt=""></li>
    
    
    
    <li><img src="" alt=""></li>
    
    <li class="text-item"><h2 class="blue-text">Розумний будинок</h2> <p class="info-text">Індивідуальна система опалення та регулювання житла за допомогою додатку.</p> </li>
    
    
    
    <li class="text-item"><h2 class="blue-text">Інфраструктура</h2> <p class="info-text">Власні керуючі компанії.</p> </li>
    
    <li><img src="" alt=""></li>
    
    
    
    
    
    </ul>
    
    
    </section>