<section class="gallery">
    <div class="container">
        <h2 class="gallery__headline">Галерея</h2>
        <div class="gallery__container">
            <svg class="gallery__tablet-svg gallery__tablet-svg-left">
                <use href="../img/icons.svg#icon-bttn-right-gallery"></use>
            </svg>
            <svg class="gallery__desktop-svg gallery__desktop-svg-left">
                <use href="../img/icons.svg#icon-icon-button-right"></use>
            </svg>
            <ul class="gallery__list">
                <li class="gallery__item gallery__item-none">

                    <article class="gallery__article">
                        <picture class="gallery__picture">
                            <source media="(min-width: 1340px)"
                                srcset="./img/desktop/gallery-desktop@1x.webp 1x, ./img/desktop/gallery-desktop@2x.webp 2x">
                            <source media="(min-width: 678px)"
                                srcset="./img/tablet/gallery-tablet@1x.webp 1x, ./img/tablet/gallery-tablet@2x.webp 2x">
                            <source media="(min-width: 358px)"
                                srcset="./img/mobile/gallery-mobile@1x.webp 1x, ./img/mobile/gallery-mobile@2x.webp 2x">


                            <img class="gallery__img gallery__img-pos-left" src="./img/desktop/gallery-desktop@1x.webp"
                                alt="">
                        </picture>
                    </article>
                </li>
                <li class="gallery__item">
                    <article class="gallery__article">

                        <picture>
                            <source media="(min-width: 1340px)"
                                srcset="./img/desktop/gallery-center-desktop@1x.webp 1x, ./img/desktop/gallery-center-desktop@2x.webp 2x">
                            <source media="(min-width: 678px)"
                                srcset="./img/tablet/gallery-tablet@1x.webp 1x, ./img/tablet/gallery-tablet@2x.webp 2x">
                            <source media="(min-width: 358px)"
                                srcset="./img/mobile/gallery-mobile@1x.webp 1x, ./img/mobile/gallery-mobile@2x.webp 2x">

                            <img class="gallery__img gallery__img-z" src="./img/mobile/gallery-mobile@1x.webp" alt="">
                        </picture>
                    </article>
                </li>
                <li class="gallery__item gallery__item-none">
                    <article class="gallery__article">
                        <picture>
                            <source media="(min-width: 1340px)"
                                srcset="./img/desktop/gallery-desktop@1x.webp 1x, ./img/desktop/gallery-desktop@2x.webp 2x">
                            <source media="(min-width: 678px)"
                                srcset="./img/tablet/gallery-tablet@1x.webp 1x, ./img/tablet/gallery-tablet@2x.webp 2x">
                            <source media="(min-width: 358px)"
                                srcset="./img/mobile/gallery-mobile@1x.webp 1x, ./img/mobile/gallery-mobile@2x.webp 2x">

                            <img class="gallery__img gallery__img-pos-right" src="./img/mobile/gallery-mobile@1x.webp"
                                alt="">
                        </picture>
                    </article>

                </li>
            </ul>
            <svg class="gallery__desktop-svg gallery__desktop-svg-right">
                <use href="../img/icons.svg#icon-icon-button-right"></use>
            </svg>
            <svg class="gallery__tablet-svg gallery__tablet-svg-right">
                <use href="../img/icons.svg#icon-bttn-right-gallery"></use>
            </svg>
        </div>
        
        <ul class="gallery__circle-list">
            <li class="gallery__circle-item">
                <svg class="gallery__svg-circle-big">
                    <use href="../img/icons.svg#icon-gallery-circle-svg"></use>
                </svg>
            </li>
            <li class="gallery__circle-item">
                <svg class="gallery__svg-circle">
                    <use href="../img/icons.svg#icon-gallery-circle-svg-small"></use>
                </svg>
            </li>
            <li class="gallery__circle-item">
                <svg class="gallery__svg-circle">
                    <use href="../img/icons.svg#icon-gallery-circle-svg-small"></use>
                </svg>
            </li>
            <li class="gallery__circle-item">
                <svg class="gallery__svg-circle">
                    <use href="../img/icons.svg#icon-gallery-circle-svg-small"></use>
                </svg>
            </li>
            <li class="gallery__circle-item">
                <svg class="gallery__svg-circle">
                    <use href="../img/icons.svg#icon-gallery-circle-svg-small"></use>
                </svg>
            </li>
            <li class="gallery__circle-item">
                <svg class="gallery__svg-circle">
                    <use href="../img/icons.svg#icon-gallery-circle-svg-small"></use>
                </svg>
            </li>
        </ul>


        <button type="button" class="gallery__button">Запис на перегляд</button>
    </div>
</section>