<section class="gallery">
    <div class="container">
        <h2 class="gallery__headline">Галерея</h2>
        <div class="gallery__line"></div>
        <div class="gallery__container">
            <svg class="gallery__svg">
                <use href="../img/icons.svg#icon-icon-button-left"></use>
            </svg>
            <ul class="gallery__list">
                <li class="gallery__item">
                    <article class="gallery__article">
                        <picture class="gallery__picture">
                            <source media="(min-width: 1200px)" srcset="../img/desktop/gallery-dekstop@1x.webp 1x, ../img/dekstop/gallery-dekstop@2x.webp 2x">
                            <source media="(min-width: 768px)" srcset="../img/tablet/gallery-tablet@1x.webp 1x, ../img/tablet/gallery-tablet@2x.webp 2x">
                            <source media="(min-width: 320px)" srcset="../img/mobile/gallery-mobile@1x.webp 1x, ../img/mobile/gallery-mobile@2x.webp 2x">

                            <img src="../img/mobile/gallery-mobile@1x.webp" alt="">
                        </picture>
                    </article>
                </li>
                <li class="gallery__item">
                    <article class="gallery__article">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="../img/desktop/gallery-dekstop@1x.webp 1x, ../img/dekstop/gallery-dekstop@2x.webp 2x">
                            <source media="(min-width: 768px)" srcset="../img/tablet/gallery-tablet@1x.webp 1x, ../img/tablet/gallery-tablet@2x.webp 2x">
                            <source media="(min-width: 320px)" srcset="../img/mobile/gallery-mobile@1x.webp 1x, ../img/mobile/gallery-mobile@2x.webp 2x">

                            <img src="../img/mobile/gallery-mobile@1x.webp" alt="">
                        </picture>
                    </article>
                </li>
                <li class="gallery__item">
                    <article class="gallery__article">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="../img/desktop/gallery-dekstop@1x.webp 1x, ../img/dekstop/gallery-dekstop@2x.webp 2x">
                            <source media="(min-width: 768px)" srcset="../img/tablet/gallery-tablet@1x.webp 1x, ../img/tablet/gallery-tablet@2x.webp 2x">
                            <source media="(min-width: 320px)" srcset="../img/mobile/gallery-mobile@1x.webp 1x, ../img/mobile/gallery-mobile@2x.webp 2x">

                            <img src="../img/mobile/gallery-mobile@1x.webp" alt="">
                        </picture>
                    </article>
                </li>
            </ul>
            <svg class="gallery__svg">
                <use href="../img/icons.svg#icon-icon-button-right"></use>
            </svg>
        </div>


        <button class="gallery__button">Запис на перегляд</button>
    </div>
</section>