<header>
  <div class="container">
    <div class="header-box">
      <div class="logo-box">
        <img src="../img/logo.webp" alt="" class="logoo" />
        <h1 class="logo-name">Nice View</h1>

        <a class="addres" href="">
          <p class="">м.Київ, просп. Вознесенський 148</p>
        </a>
      </div>
      <nav>
        <ul class="header-list">
          <li class="headr-item">
            <a href="" class="header-link">
              <p>Головна</p>
            </a>
          </li>
          <li class="headr-item">
            <a href="" class="header-link">
              <p>Про нас</p>
            </a>
          </li>
          <li class="headr-item">
            <a href="" class="header-link">
              <p>Контакти</p>
            </a>
          </li>
        </ul>
      </nav>
      <a class="language" href="">UA</a>
      <button data-menu-open type="button" class="menu-button">
        <svg class="menu-burger">
          <use href="./img/icons.svg#icon-icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
