<div class="infrastructure">
    <div class="container">
        <h2 class="infrastructure__item">Інфраструктура</h2>
        <p class="infrastructure__text">*знаходяться в радіусі 1 км від ЖК</p>
        <ul class="infrastructure__list">
            <li class="Infrastructure__title">
                <img src="./images/picture1.png" width="316px" height="290px" alt="">
            </li>
            <li class="infrastructure__title">
                <img src="./images/picture2.png" width="316px" height="432px" alt="">
            </li>
            <li class="infrastructure__title">
                <img src="./images/picture3.png" width="316px" height="432px" alt="">
            </li>
            <li class="infrastructure__title">
                <img src="./images/picture4.png" width="316px" height="290px" alt="">
            </li>
            <li class="infrastructure__title">
                <img src="./images/picture5.png" width="316px" height="290px" alt="">
            </li>
            <li class="infrastructure__title">
                <img src="./images/picture6.png" width="316px" height="432px" alt="">
            </li>
            <li class="infrastructure__title">
                <img src="./images/picture7.png" width="316px" height="432px" alt="">
            </li>
            <li class="infrastructure__title">
                <img src="./images/picture8.png" width="316px" height="290px" alt="">
            </li>
        </ul>
    </div>
</div>