<section class="infrastructure">
    <div class="container">
        <h2 class="infrastructure__title">Інфраструктура</h2>
        <p class="infrastructure__text">*знаходяться в радіусі 1 км від ЖК</p>
        <ul class="infrastructure__list">
            <li class="infrastructure__item">
                <img src="../images/picture1.png" alt="">
            </li>
            <li class="infrastructure__item">
                <img src="../images/picture2.png" alt="">
            </li>
            <li class="infrastructure__item">
                <img src="../images/picture3.png" alt="">
            </li>
            <li class="infrastructure__item">
                <img src="../images/picture4.png" alt="">
            </li>
            <li class="infrastructure__item">
                <img src="../images/picture5.png" alt="">
            </li>
            <li class="infrastructure__item">
                <img src="../images/picture6.png" alt="">
            </li>
            <li class="infrastructure__item">
                <img src="../images/picture7.png" alt="">
            </li>
            <li class="infrastructure__item">
                <img src="../images/picture8.png" alt="">
            </li>
        </ul>
    </div>
</section>