    <section class="infrastructure">
        <div class="container">
        <h2 class="infrastructure_headline">Галерея</h2>
        <div class="yellow-line"></div>
        <div>
            <svg class="infrastructure_svg"></svg>
            <ul class="infrastructure_list">
                <li class="infrastructure_item">
                    <article class="infrastructure_article">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="">
                            <source media="(min-width: 768px)" srcset="">
                            <source media="(min-width: 320px)" srcset="">
    
                            <img src="" alt="">
                        </picture>
</article>
                </li>
                <li class="infrastructure_item">
                    <article class="infrastructure_article">                    
                        <picture>
                        <source media="(min-width: 1200px)" srcset="">
                        <source media="(min-width: 768px)" srcset="">
                        <source media="(min-width: 320px)" srcset="">

                        <img src="" alt="">
                    </picture></article>
                </li>
                <li class="infrastructure_item">
                    <article class="infrastructure_article">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="">
                            <source media="(min-width: 768px)" srcset="">
                            <source media="(min-width: 320px)" srcset="">
    
                            <img src="" alt="">
                        </picture>
                    </article>
                </li>
            </ul>
            <svg class="infrastructure_svg"></svg>
        </div>


        <button class="infrastructure_button">Запис на перегляд</button>
    </div>
    </section>