<section class="location">
    <div class="container">
        <h2 class="location-title ">Місце розположення</h2>
        <div class="location-box">
            <ul class="location-list">
                <li class="location-item">
                    <p class="location-text">м.Київ, вул. Соборності 12</p>
                </li>
                <li class="location-item">
                    <h5 class="location-subtitle">Робочі дні:</h5>
                    <p class="location-text"> пн-пт 09:00-18:00</p>
                </li>
                <li class="location-item">
                    <h5 class="location-subtitle">Вихідні:</h5>
                    <p class="location-text"> сб-нд і святкові дні</p>
                </li>
                <li class="location-item">
                    <h5 class="location-subtitle">Телефон менеджера:</h5>
                    <p class="location-text"> +380981194159</p>
                </li>
            </ul>
            <iframe class="location-link"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.023076030684!2d30.61888188054624!3d50.44067083334008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c55c44e6d009%3A0xaf1340589b98889b!2z0L_RgNC-0YHQv9C10LrRgiDQodC-0LHQvtGA0L3QvtGB0YLRliwgMTIsINCa0LjRl9CyLCDQo9C60YDQsNC50L3QsCwgMDIwMDA!5e0!3m2!1sbg!2sde!4v1717608082760!5m2!1sbg!2sde"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <button class="location-btn">На карту</button>
        </div>
    </div>
</section>