<div class="backdrop is-hidden" data-menu>
    <div class="menu">

        <div class="menu__icons">
            <svg width="108px" height="50px" class="menu__logo">
                <use href="../imgs/icons/symbol-defs.svg#logo" class="menu__use"></use>
            </svg>

            <button class="menu__btn" data-menu-close>
                <svg class="menu__svg" width="32px" height="32px">
                    <use href="../imgs/icons/symbol-defs.svg#close" class="menu__icon"></use>
                </svg>
            </button>
        </div>

        <div class="menu__text">
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="./about.html" class="menu__link">About us</a>
                </li>
                <li class="menu__item">
                    <a href="./program.html" class="menu__link">Program</a>
                </li>
                <li class="menu__item">
                    <a href="./speakers.html" class="menu__link">Speaker</a>
                </li>
                <li class="menu__item">
                    <a href="./price.html" class="menu__link">Price</a>
                </li>
                <li class="menu__item">
                    <a href="./reviews.html" class="menu__link">Reviws</a>
                </li>
                <li class="menu__item">
                    <a href="./footer.html" class="menu__link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>