<div data-modal class="backdrop is-hidden">
  <div class="modal">
    <button data-modal-close class="modal__btn" type="button">
      <svg class="modal-close">
        <use href="./img/icons.svg#icon-icon-close"></use>
      </svg>
    </button>
    <h3 class="modal-mobile-tittle">ЖК “Nice view”</h3>
    <h2 class="modal-tittle">
      Замовте консультацію <span class="modal-selected">зараз</span> і ми
      перетелефонуємо протягом 5 хвилин.
    </h2>
    <form action="" class="modal-form">
      <label for="" class="modal-container">
        <span class="modal-text">Як до Вас звертатися?</span>
        <input
          type="text"
          placeholder="Елизавета Валеріївна"
          class="modal-input"
        />
      </label>
      <label for="" class="modal-container">
        <span class="modal-text">Введіть Ваш номер телефону:</span>
        <input
          type="text"
          placeholder="+38 (000) 000 00 00"
          class="modal-input"
        />
      </label>
    </form>
    <p class="modal-mobile-text">Ми перетелефонуємо протягом 5 хвилин.</p>
    <button modal-button type="submit" class="modal-btn">Дзвінок</button>
  </div>
</div>
