<section class="program">
  <h2 class="program__title">Program</h2>
  <p class="program__text">
    Indulge in this immersive sweet treat experience with The Chef Donut Queen
    in her New York donut shop!
  </p>
  <ul class="program__collection">
    <li class="program__item">
      <svg class="program__icon" width="24" height="24">
        <use href=""></use>
      </svg>
      <p class="program__inscription">A stand up history of donuts</p>
    </li>
    <li class="program__item">
      <svg class="program__icon" width="24" height="24">
        <use href=""></use>
      </svg>
      <p class="program__inscription">Make 3 donut flavors of your choice</p>
    </li>
    <li class="program__item">
      <svg class="program__icon" width="24" height="24">
        <use href=""></use>
      </svg>
      <p class="program__inscription">Enjoy all-you-can-eat donuts</p>
    </li>
    <li class="program__item">
      <svg class="program__icon" width="24" height="24">
        <use href=""></use>
      </svg>
      <p class="program__inscription">Cocktail pairings and coffee included</p>
    </li>
    <li class="program__item">
      <svg class="program__icon" width="24" height="24">
        <use href=""></use>
      </svg>
      <p class="program__inscription">
        Photoshoot by professional photographer
      </p>
    </li>
    <li class="program__item">
      <svg class="program__icon" width="24" height="24">
        <use href=""></use>
      </svg>
      <p class="program__inscription">Secret receipt of cooking from Eva</p>
    </li>
    <li class="program__item">
      <svg class="program__icon" width="24" height="24">
        <use href=""></use>
      </svg>
      <p class="program__inscription">All products are included in the price</p>
    </li>
  </ul>
  <p class="program__substance">
    Come with your dear people and friends and you will spend an unforgettable
    time and will become a real professional in donuts cooking!
  </p>
  <ul class="program__list">
    <li class="program__point">
      <p class="program__subtitle">Type of the event</p>
      <p class="program__desc">Cooking classes</p>
    </li>
    <li class="program__point">
      <p class="program__subtitle">Time of the event</p>
      <p class="program__desc">18:30 (2.5 hours)</p>
    </li>
    <li class="program__point">
      <p class="program__subtitle">Number of guests</p>
      <p class="program__desc">1 to 20</p>
    </li>
    <li class="program__point">
      <p class="program__subtitle">The host speaks</p>
      <p class="program__desc">English, French</p>
    </li>
  </ul>
</section>
