<section class="registration" id="registration">
    <div class="container">
      <div class="registration__rel">
        <form class="registration__form">
          <div class="registration__holder">
            <h2 class="registration__title">Registration</h2>
            <div class="block">
              <div class="block__day">
                <p class="registration__day">May 23, 11:00 New York</p>
              </div>
              <div class="block__text">
                <p class="registration__text">Apply your personal info for registration</p>
                <div class="registration__ditection">
                  <div class="registration__domain">
                    <input
                      class="registration__input" type="text" name="user-name" id="name" placeholder="&nbsp;" pattern="^[a-zA-Z]+$"
                      title="Please enter valid name" required/>
                    <label class="registration__label" for="name">Your name</label
                    >
                  </div>
                  <div class="registration__domain">
                    <input class="registration__input" type="tel" name="user-phone" id="tel" placeholder="&nbsp;" pattern="[6789][0-9]{9}" title="Please enter valid phone number" required/>
                    <label class="registration__label" for="tel">Phone number</label>
                  </div>
                  <div class="registration__domain">
                    <input class="registration__input" type="email" name="user-email" id="registration-email" placeholder="&nbsp;" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" title="valid@email.com" required/>
                    <label class="registration__label" for="registration-email"
                      >Email</label
                    >
                  </div>
                </div>
              </div>
              <div class="block__button">
                <button class="button registration__button" type="submit">Register</button>
              </div>
            </div>
          </div>
        </form>
        <picture>
          <source srcset="./imgs/desktop/registration/registration-img@1x-desktop.webp 1x, ./images/desktop/registration/registration-img@2x-desktop.webp 2x" media="(min-width: 1200px)">
          <source srcset="./images/tablet/registration/registration-img@1x-tablet.webp 1x, ./images/tablet/registration/registration-img@2x-tablet.webp 2x" media="(min-width: 768px)">
          <img class="registration" src="" alt="" />
        </picture>
      </div>
    </div>
  </section>