<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews__title">Reviews</h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <!-- <img src="../imgs/tablet/reviews/reviews-1@1x-tablet.webp" alt=""> -->
        <h4 class="reviews__subtitle">John</h4>
      </li>
      <li class="reviews__item">
        <img class="reviews__img" src="" alt="" />
        <h4 class="reviews__subtitle">Will</h4>
      </li>
      <li class="reviews__item">
        <img class="reviews__img" src="" alt="" />
        <h4 class="reviews__subtitle">Elisabeth</h4>
      </li>
    </ul>
    <p class="reviews__text">
      Last time I have visited a cooking course by Eva I was impressed with the
      way she explained everything to people. You can be sure you will manage to
      cook a delicious dish even if it is your first time in the kitchen! Thank
      you so much for the masterclass! Looking forward to the next one and
      highly recommend it to everyone!
    </p>
    <div class="reviews__numbers">
        <div class="reviews__line"></div>
        <p class="reviews-number">2/15</p>
        <div class="reviews__line"></div>
    </div>
  </div>
</section>
