<section class="speakers">
    <div class="container">
        <h1 class="speakers__title">
            Speakers
        </h1>
        <ul class="speakers__list">
            <li class="speakers__item">
                <picture>
                    <source srcset="./src/imgs/mobile/speakers/speakers1@1x-mobile.webp, ./src/imgs/mobile/speakers/speakers1@2x-mobile.webp" media="(max-width: 736px)">
                    <source srcset="./src/imgs/tablet/speakers/speakers1@2x-tablet.webp, ./src/imgs/tablet/speakers/speakers1@2x-tablet.webp" media="(min-width: 736px)">
                    <source srcset="./src/imgs/desktop/speakers/speakers1@1x-desktop.webp, ./src/imgs/desktop/speakers/speakers1@2x-desktop.webp" media="(min-width: 1280px)">
                    <img class="speakers__item"  src="" alt="molly">
                </picture>
                <h2 class="speakers__sub-title"> Molly Rivera</h2>
                <p class="speakers__text">Pastry chef, master chocolatier of Spain,</p>
            </li>
            <li class="speakers__item">
                <img class="speakers__item"  src="" alt="sophia">
                <h2 class="speakers__sub-title">Sophia Clark</h2>
                <p class="speakers__text">Сulinary school pastry chef</p>
            </li>
            <li class="speakers__item">
                <img class="speakers__item"  src="" alt="isabella">
                <h2 class="speakers__sub-title">Isabella Taylor</h2>
                <p class="speakers__text">Сonsultant in the art of confectionery</p>
            </li>
            <li class="speakers__item">
                <img class="speakers__item"  src="" alt="evelyn">
                <h2 class="speakers__sub-title">Evelyn Miller</h2>
                <p class="speakers__text">Master- chocolatier in Spain</p>
            </li>
        </ul>
    </div>
</section>